Repository martins-vds/knowledge-mining: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-infra.yml, azure-pipelines-search.yml

azure-pipelines-infra.yml:
  stages:
  - stage: Infrastructure
    displayName: Deploy Infrastructure
    jobs:
    - job: Deploy
      displayName: Deploy Azure Services
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Bash@3
        displayName: Install Bicep
        inputs:
          targetType: inline
  ...

azure-pipelines-search.yml:
  pool:
    vmImage: $(vmImageName)
  steps:
  - task: AzureKeyVault@1
    displayName: Get Secrets
    inputs:
      azureSubscription: azure-knowledge-mining-arm-connection
      KeyVaultName: $(KEYVAULT)
      SecretsFilter: '*'
      RunAsPreJob: false
  - task: Bash@3
    displayName: Configure Azure Search
    inputs:
  ...

Deployment instructions
  readme.md
Due: none

Use AKV references for App Service
  arm/env.bicep
Due: azure-pipelines-infra.yml

Use MSI for integrating Search with Storage
  arm/env.bicep
  search-index/base-datasource.json
  search-index/deploy.sh
Due: azure-pipelines-infra.yml, azure-pipelines-search.yml

Fix trigger, parameterize bicep file name
  azure-pipelines-infra.yml
Due: none

Separate environment with VNET Integration
  arm/env-vnet-integration.bicep
  azure-pipelines-infra.yml
Due: azure-pipelines-infra.yml

Update to use Storage Resource Id
  azure-pipelines-search.yml
Due: azure-pipelines-search.yml

#1 Ensure service principal has Owner role due to role assignment.
  readme.md
Due: none

refactored as add-on to LZ, 2 options of new vnet or deploy to existing vnet
  add-ons/env-vnet-integration.bicep
  add-ons/main.bicep
  add-ons/networking.bicep
  arm/env-vnet-integration.bicep
  arm/env.bicep
  azresources/application/app-service.bicep
  azresources/application/function.bicep
  azresources/cognition/cognitive-services.bicep
  azresources/search/search.bicep
  azresources/security/key-vault-secret.bicep
  azresources/security/key-vault.bicep
  azresources/storage/storage-account-app.bicep
  azresources/storage/storage-account-function.bicep
Due: azure-pipelines-infra.yml

add app deploy script
  app/builddeploy.sh
Due: none

fix typo
  app/builddeploy.sh
Due: none

add usage
  app/README.md
Due: none

optional function
  arm/env.bicep
Due: azure-pipelines-infra.yml

add condition for function
  arm/env-vnet-integration.bicep
  arm/env.bicep
Due: azure-pipelines-infra.yml

cond functions
  arm/env-vnet-integration.bicep
Due: azure-pipelines-infra.yml

condition to remove func
  arm/env-vnet-integration.bicep
Due: azure-pipelines-infra.yml

add usage
  app/builddeploy.sh
Due: none

add output
  arm/env-vnet-integration.bicep
Due: azure-pipelines-infra.yml

add Function deploy as condition (#3)
  app/builddeploy.sh
  arm/env-vnet-integration.bicep
  arm/env.bicep
Due: azure-pipelines-infra.yml

copy base files
  search-index/deploy.sh
Due: azure-pipelines-search.yml

no in place replace
  search-index/deploy.sh
Due: azure-pipelines-search.yml

instructions
  readme.md
Due: none

Update readme.md
  readme.md
Due: none

typo
  readme.md
Due: none

change SED from in place updating tokens (#4)
  readme.md
  search-index/deploy.sh
Due: azure-pipelines-search.yml

manual install details
  readme.md
Due: none

add filters, remove factes
  search-index/base-index.json
Due: azure-pipelines-search.yml

add function for skill
  arm/env-vnet-integration.bicep
Due: azure-pipelines-infra.yml

expand facet
  app/CognitiveSearch.UI/Search/DocumentSearchClient.cs
Due: none

swtch func to dotnet
  arm/env-vnet-integration.bicep
Due: azure-pipelines-infra.yml

aa
  arm/env-vnet-integration.bicep
Due: azure-pipelines-infra.yml

add skills
  .gitignore
  skills/Common/Common.csproj
  skills/Common/WebAPISkillContract.cs
  skills/Common/WebAPISkillHelper.cs
  skills/Distinct/Distinct.cs
  skills/Distinct/Distinct.csproj
  skills/Distinct/README.md
  skills/Distinct/Thesaurus.cs
  skills/Distinct/azuredeploy.json
  skills/Distinct/host.json
  skills/Distinct/local.settings.json
  skills/Distinct/thesaurus.json
  skills/builddeploy.sh
Due: none

switch NER skills
  search-index/base-skills.json
Due: azure-pipelines-search.yml

switch NER skills
  search-index/base-index.json
Due: azure-pipelines-search.yml

skills
  search-index/base-index.json
  search-index/base-skills.json
Due: azure-pipelines-search.yml

skills
  search-index/base-indexer.json
Due: azure-pipelines-search.yml

sort facets
  app/CognitiveSearch.UI/Search/DocumentSearchClient.cs
Due: none

add email normalizer
  search-index/base-index.json
  search-index/base-skills.json
Due: azure-pipelines-search.yml

add email normalizer
  search-index/deploy.sh
Due: azure-pipelines-search.yml

add email filter skill
  search-index/base-index.json
  search-index/base-indexer.json
  search-index/base-skills.json
  search-index/deploy.sh
  skills/Distinct/Distinct.cs
  skills/Distinct/EmailFilter.cs
  skills/Distinct/thesaurus.json
Due: azure-pipelines-search.yml

Path conditions:
  azure-pipelines-infra.yml: any of: arm, azure-pipeline-infra.yml
  azure-pipelines-search.yml: any of: search-index, azure-pipelines-search.yml
